.display {
  display: flex;
  flex-direction: column;
  font-style: italic;
}
span {
  font-size: 4.5rem;
  font-weight: 800;
}
.hyphen {
  letter-spacing: 0.3rem;
  color: #8a2be2;
}
.space {
  width: 30px;
}
