.first {
  display: flex;
}

.head {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #666666;
  margin-bottom: 7px;
}

input {
  width: 120px;
  margin-right: 40px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding-left: 15px;
  font-size: 1.7rem;
  font-weight: 750;
  color: #888888;
}

select {
  width: 120px;
  margin-right: 40px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding-left: 15px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #888888;
}

input::placeholder,
select::placeholder {
  font-weight: 800;
  font-size: 1.5rem;
  color: #999999;
}

input:focus,
select:focus {
  outline: none;
  border-color: #8a2be2;
}

input:hover,
select:hover {
  cursor: pointer;
}

.line {
  width: 700px;
  height: 0.5px;
  background-color: #cccccc;
}

.arrow {
  background-color: #8a2be2;
  padding: 20px;
  border-radius: 50%;
}

.arrow:hover {
  cursor: pointer;
  background-color: black;
}

.one {
  justify-content: space-between;
  align-items: center;
}
